extends layout

block link
  
  link(rel="stylesheet", href="./modules/css/cooperation.scss")
  
block content
  img(src="./images/tsl/tslbc.png", alt="")
  .main
    h1 合作机构
    ul.clearfix
      li 
        img(src="./images/index/example.png", alt="")
      li 
        img(src="./images/index/example.png", alt="")
      li 
        img(src="./images/index/example.png", alt="")
      li 
        img(src="./images/index/example.png", alt="")
      li 
        img(src="./images/index/example.png", alt="")
      li 
        img(src="./images/index/example.png", alt="")
      li 
        img(src="./images/index/example.png", alt="")
      li 
        img(src="./images/index/example.png", alt="")
      
    
      
    
