doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 人力资源和社会保障部
    link(rel="stylesheet", href="./modules/css/common.css")
    block link
    
  body
    link(rel="import" href="modules/html/header/header.jade?__inline")
    block content
    link(rel="import" href="modules/html/footer/footer.jade?__inline")
    script(type="text/javascript", charset="utf-8",src="lib/jquery/dist/jquery.min.js")
    script(type="text/javascript", charset="utf-8",src="lib/vue/dist/vue.js")
    block script
    
  
