extends layout

block link
  link(rel="stylesheet", href="./modules/css/tslinf.scss")

block script
  script(src="./modules/app/tslinf.es", charset="utf-8")
    
block content
  .content
    img(src="./images/tsl/tslbc.png")
    .main.clearfix
      h2 合作机构简介
        span
        //合作结构详情介绍
      .infmain.clearfix
        .left
          img(src="./images/tsl/logo.png", alt="")
        .right
          h2 某文化机构
          .text
            |文都网校成立于2003年，是文都教育科技集团旗下知名主打教育品牌网站之一，是目前国内权威、专业的大型远在九
            |年的时间里，文都网校经历了飞速发展，目前已经拥有考研公共课，考研专业课，考研高端辅导，大学英语四六级，公务员
            |考试，执业医师资格考试，考研专硕、执业药师，护士执业，卫生职称，建造师，GCT等十三
      h2 合作项目
        span
        
      ul
        li.clearfix 
          img(src="./images/tsl/expamlepng.png", alt="")
          .itr
            h2 国培计划—“知行中国”班主任远程培训项目
            div.clearfix 
              span.price ￥200.00
              span.list 章节：5章节
              span.time 时间：2016-11-02
            p 
              |教育部“国培计划－‘知行中国’小学班主任教师培训项目”共培训27省479个区县的100968名小学班主任教师，参训率、有效学习率双双达到百
              |分百，考核合格率达到99.6%。“ 知行中国”项目是在2009年成功实施10省（市）10万名班主任远程培训的基础上，成功采用“行政与业务双线
              |管理模式”，丰富完善案例式网络课程，全员参与、全程指导、深入 交流，充分利用优质平台提供人性化服务，成为大规模远程培训的成功范例。
            button(type="button", name="button") 查看详情
            
          li.clearfix  
            img(src="./images/tsl/expamlepng.png", alt="")
            .itr
              h2 国培计划—“知行中国”班主任远程培训项目
              div.clearfix 
                span.price ￥200.00
                span.list 章节：5章节
                span.time 时间：2016-11-02
              p 
                |教育部“国培计划－‘知行中国’小学班主任教师培训项目”共培训27省479个区县的100968名小学班主任教师，参训率、有效学习率双双达到百
                |分百，考核合格率达到99.6%。“ 知行中国”项目是在2009年成功实施10省（市）10万名班主任远程培训的基础上，成功采用“行政与业务双线
                |管理模式”，丰富完善案例式网络课程，全员参与、全程指导、深入 交流，充分利用优质平台提供人性化服务，成为大规模远程培训的成功范例。
              button(type="button", name="button") 查看详情
              
            li.clearfix  
              img(src="./images/tsl/expamlepng.png", alt="")
              .itr
                h2 国培计划—“知行中国”班主任远程培训项目
                div.clearfix 
                  span.price ￥200.00
                  span.list 章节：5章节
                  span.time 时间：2016-11-02
                p 
                  |教育部“国培计划－‘知行中国’小学班主任教师培训项目”共培训27省479个区县的100968名小学班主任教师，参训率、有效学习率双双达到百
                  |分百，考核合格率达到99.6%。“ 知行中国”项目是在2009年成功实施10省（市）10万名班主任远程培训的基础上，成功采用“行政与业务双线
                  |管理模式”，丰富完善案例式网络课程，全员参与、全程指导、深入 交流，充分利用优质平台提供人性化服务，成为大规模远程培训的成功范例。
                button(type="button", name="button") 查看详情
                
              li.clearfix  
                img(src="./images/tsl/expamlepng.png", alt="")
                .itr
                  h2 国培计划—“知行中国”班主任远程培训项目
                  div.clearfix 
                    span.price ￥200.00
                    span.list 章节：5章节
                    span.time 时间：2016-11-02
                  p 
                    |教育部“国培计划－‘知行中国’小学班主任教师培训项目”共培训27省479个区县的100968名小学班主任教师，参训率、有效学习率双双达到百
                    |分百，考核合格率达到99.6%。“ 知行中国”项目是在2009年成功实施10省（市）10万名班主任远程培训的基础上，成功采用“行政与业务双线
                    |管理模式”，丰富完善案例式网络课程，全员参与、全程指导、深入 交流，充分利用优质平台提供人性化服务，成为大规模远程培训的成功范例。
                  button(type="button", name="button") 查看详情
                
          
              
              
              
            
        
      
      
      
    
            
          
          
        
  

  
