body{
  background-color: #f7f7f7;
  height: auto;
  >img{
    margin-top: 50px;
    display: block;
    width: 100%;
  }
}
.main{
  width: 1171px;
  margin: 0 auto;
  >h1{
    font-size: 30px;
    color: #313030;
    text-align: center;
    height: 100px;
    line-height: 100px;
  }
  >ul{
    width: 1181px;
    padding-bottom: 75px;
    >li{
        width: 285px;
        height: 135px;
        background-color: #ffffff;
        float: left;
        margin-right: 10px;
        margin-bottom: 15px;
        >img{
          display: block;
          height: 78px;
          margin: 28.5px auto;
        }
    }
  }
}
