.footer
  .grid_wrap.clearfix
    // #begineditable name="版权" viewid="125127" tagname="版权" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="0" istemp=""
    // 版权内容请在本组件"内容配置-版权"处填写
    .pull_left(style='width:820px;')
      p Copyright2016. All right reserved edu.mohrss.gov.cn
      p 主办单位：人力资源和社会保障部人事司、人力资源和社会保障部教育培训中心
      p 版权所有：中华人民共和国人力资源和社会保障部教育培训网
    // #endeditable
    .pull_right
      // #begineditable name="文本框版权" viewid="125303" tagname="文本框版权" action="" layout="" contype="" stylesysid="" template="" tplstyle="" clone="0" istemp=""
      script(language='javascript', src='/lib/mp4video.js')
      p
        br
        |  人力资源和社会保障部教育培训中心网站
      // #endeditable
